version: "3.8"
services:
  ethercalc:
    image: audreyt/ethercalc
    ports:
      - "81:8000"
    environment:
      REDIS_PORT_6379_TCP_ADDR: redis
      REDIS_PORT_6379_TCP_PORT: 6379
    links:
      - redis:redis
    restart: always
  redis:
    image: redis:7.2.3
    volumes:
      - /var/lib/redis:/data
    command: redis-server --appendonly yes
    restart: always
